//
// Basic print styles
// --------------------------------------------------
// Source: https://github.com/h5bp/html5-boilerplate/blob/master/css/main.css

@media print {


  header, footer,  .content--main__shadow, .navbar--top, .navs--content, .widget--breadcrumbs,
  .widget--pagination, #TSFE_ADMIN_PANEL_FORM, #TSFE_ADMIN, .socialshareprivacy, .news-backlink-wrap,
  .news-single hr, .icon-addalarm, .news-menu-view, .content--aside__primary {
    display: none!important;
  }

  .text--pencilunderline {
    border-bottom: 2px solid #5F5F5F !important;
    border-image: none !important;
    padding-bottom: 4px!important;
  }


  * {
    text-shadow: none !important;
    color: #000 !important; // Black prints faster: h5bp.com/s
    background: transparent !important;
    box-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  @page {
    margin: 2cm;
  }
  img {
    max-width: 100% !important;
    height: auto!important;
  }

  .content--main .btn--svg {
    float:none!important;
    clear:both!important;
    padding: 0 !important;
    text-align: left !important;
  }


  ul, img, article {
    page-break-inside: avoid;
  }
  .content--main, .container {
    width: auto!important;
  }
  a[href]:after {
    content: "(" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  // Don't show links for images, or javascript/internal links
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  .link--image:after, .link--image a:after {
    content: ""!important;
  }


  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; // h5bp.com/t
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;

  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3, h4 {
    page-break-after: avoid;
  }

  // Chrome (OSX) fix for https://github.com/twbs/bootstrap/issues/11245
  // Once fixed, we can just straight up remove this.
  select {
    background: #fff !important;
  }

  // Bootstrap components
  .navbar {
    display: none;
  }
  /*
  .table {
    td,
    th {
      background-color: #fff !important;
    }
  }
  .btn,
  .dropup > .btn {
    > .caret {
      border-top-color: #000 !important;
    }
  }
  .label {
    border: 1px solid #000;
  }

  .table {
    border-collapse: collapse !important;
  }
  .table-bordered {
    th,
    td {
      border: 1px solid #ddd !important;
    }
  }
  */
  .widget--events__databox__info {
    border-top: 2px solid #000!important;
  }
  table{
    border: 2px solid #000!important;

    background: #fff!important;
    // Cells
    > thead,
    > tbody,
    > tfoot {
      border: 2px solid #000!important;

      > tr {

        > th,
        > td {
          border-bottom: 2px solid #000!important;
          border-right: 2px solid #000!important;
        }
      }

    }
    // Bottom align for column headings
    > thead > tr > th {
      vertical-align: bottom;
      border: 2px solid #000!important;
      color: #000
    }
    // Remove top border from thead by default
    > caption + thead,
    > colgroup + thead,
    > thead:first-child {
      > tr:first-child {
        > th,
        > td {
          border-top: 0;
        }
      }
    }
    > tbody {

    }

    // Nesting
    .table {
      background-color: $body-bg;
    }
  }



}
