@import "../variables";





//################################################################################


.content--main {
  padding-top: 50px;
}




@media screen and (min-width: 1023px) and (max-width: 1080px) {
  .container {
    width: 975px;
  }
}


//################################################################################
.card--content {
  background: #fff;
  box-shadow: 4px 4px 4px $gray-darkest;
  padding: 10px;
  color: $gray-darkest;
  text-shadow: none;
}
